@import '@fontsource-variable/inter' layer(base);
@import '@fontsource-variable/newsreader' layer(base);
@import '@fontsource-variable/newsreader/wght-italic.css' layer(base);

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

/* Monaspace Variable Fonts */
@font-face {
	font-family: "Monaspace Argon";
	src: url("/fonts/Monaspace Argon Var.woff2") format(woff2);
	font-weight: 200 800;
	font-stretch: 100% 125%;
	font-style: oblique 0deg 11deg;
}

@font-face {
	font-family: "Monaspace Krypton";
	src: url("/fonts/Monaspace Krypton Var.woff2") format(woff2);
	font-weight: 200 800;
	font-stretch: 100% 125%;
	font-style: oblique 0deg 11deg;
}

@font-face {
	font-family: "Monaspace Neon";
	src: url("/fonts/Monaspace Neon Var.woff2") format(woff2);
	font-weight: 200 800;
	font-stretch: 100% 125%;
	font-style: oblique 0deg 11deg;
}

@font-face {
	font-family: "Monaspace Radon";
	src: url("/fonts/Monaspace Radon Var.woff2") format(woff2);
	font-weight: 200 800;
	font-stretch: 100% 125%;
	font-style: oblique 0deg 11deg;
}

@font-face {
	font-family: "Monaspace Xenon";
	src: url("/fonts/Monaspace Xenon Var.woff2") format(woff2);
	font-weight: 200 800;
	font-stretch: 100% 125%;
	font-style: oblique 0deg 11deg;
}

:root {
	--text-main: #171717;
	--bg-main: #f2f1ec;
	--bg-muted: #eae9e1;
	--border-main: #171717;
}

html.dark {
	--text-main: #f2f1ec;
	--bg-main: #171717;
	--bg-muted: #242424;
	--border-main: #f2f1ec;
}

@theme inline {
	--font-sans: 'Inter Variable', sans-serif;
	--font-serif: 'Newsreader Variable', serif;
	--text-color-main: var(--text-main);
	--background-color-main: var(--bg-main);
	--background-color-muted: var(--bg-muted);
	--border-color-main: var(--border-main);
}

@layer utilities {
	.prose {
		--tw-prose-body: var(--text-color-main);
		--tw-prose-headings: var(--text-color-main);
		--tw-prose-lead: var(--text-color-main);
		--tw-prose-links: var(--text-color-main);
		--tw-prose-bold: var(--text-color-main);
		--tw-prose-counters: var(--text-color-main);
		--tw-prose-bullets: var(--text-color-main);
		--tw-prose-hr: var(--border-color-main);
		--tw-prose-quotes: var(--text-color-main);
		--tw-prose-quote-borders: var(--border-color-main);
		--tw-prose-captions: var(--text-color-main);
		--tw-prose-kbd: var(--text-color-main);
		--tw-prose-code: var(--text-color-main);
		--tw-prose-th-borders: var(--border-color-main);
		--tw-prose-td-borders: var(--border-color-main);
	}

	.prose a {
		@apply underline font-normal decoration-1 underline-offset-2 decoration-dashed hover:decoration-solid;
	}

	.prose :where(h1, h2, h3, h4, h5, h6) {
		@apply font-serif font-medium;
	}

	.prose :where(code, strong) {
		@apply font-medium;
	}

	.prose blockquote {
		@apply font-serif font-normal italic border-none pl-0 text-[1.375em] leading-snug sm:text-[1.66667em];
	}
}
