---
import { getCollection } from 'astro:content';
import Button from '#components/Button.astro';
import Hero from '#components/Hero.astro';
import PostPreview from '#components/PostPreview.astro';
import ProjectPreview from '#components/ProjectPreview.astro';
import siteConfig from '#site.config';
import BaseLayout from '#layouts/Layout.astro';
import { byDateDesc } from '#lib/utils';

const posts = (await getCollection('blog')).sort(byDateDesc);
const featuredPosts = posts.filter(({ data }) => data.isFeatured);

const projects = (await getCollection('projects')).sort(byDateDesc);
const featuredProjects = projects.filter(({ data }) => data.isFeatured);
---

<BaseLayout description={siteConfig.description}>
	<Hero />
	<!-- <Portfolio /> -->
	<section>
		<a href="/portfolio" class="section-label">Portfolio</a>
		<h2 class="section-heading">My Work</h2>
		{featuredProjects.map((project) => <ProjectPreview project={project} headingLevel="h3" />)}
		<!-- <div class="mt-12 sm:mt-16">
			<Button href="/portfolio">View All Projects</Button>
		</div> -->
	</section>
	<!-- <Blog /> -->
	<section>
		<a href="/blog" class="section-label">Blog</a>
		<h2 class="section-heading">My Writing</h2>
		{featuredPosts.map((post) => <PostPreview post={post} headingLevel="h3" />)}
		<!-- <div class="mt-12 sm:mt-16">
			<Button href="/blog">View All Posts</Button>
		</div> -->
	</section>
</BaseLayout>

<style is:global>
	@reference '#styles/global.css';

	section {
		@apply mb-16 sm:mb-24;
	}

	.section-label {
		@apply text-accent hover-underline mb-2 block w-max text-sm tracking-widest uppercase;

		font-family: 'Monaspace Krypton', sans-serif;
	}

	.section-heading {
		@apply mb-12 font-serif text-2xl sm:mb-16 sm:text-3xl;
	}
</style>
