---
import type { HTMLAttributes } from 'astro/types';

type AnchorProps = HTMLAttributes<'a'> & { href: string; type?: never };
type ButtonProps = HTMLAttributes<'button'> & { href?: never };

type Props = ButtonProps | AnchorProps;

const { href, class: className, ...rest } = Astro.props;
const buttonClasses = 'italic transition-colors';
---

{
	href ? (
		<a href={href} class:list={['button', className]} {...rest}>
			<slot />
		</a>
	) : (
		<button class:list={['button', 'cursor-pointer', className]} {...rest}>
			<slot />
		</button>
	)
}

<style is:global>
	.button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 0.5rem 1.5rem;
		font-family: 'Archivo', sans-serif;
		font-size: 0.9rem;
		line-height: 1.25;
		color: var(--text-main);
		background-color: transparent;
		border: 1px solid var(--border-main);
		border-radius: 9999px;

		&:hover {
			background-color: var(--bg-muted);
		}
	}
</style>
