---
import type { HTMLAttributes } from 'astro/types';

type AnchorProps = HTMLAttributes<'a'> & { href: string; type?: never };
type ButtonProps = HTMLAttributes<'button'> & { href?: never };

type Props = (ButtonProps | AnchorProps) & {
	primary?: boolean;
};

const { href, class: className, primary: isPrimary, ...rest } = Astro.props;
---

{
	href ? (
		<a href={href} class:list={['button', isPrimary ? 'primary' : '', className]} {...rest}>
			<slot />
		</a>
	) : (
		<button class:list={['button', 'cursor-pointer', isPrimary ? 'primary' : '', className]} {...rest}>
			<slot />
		</button>
	)
}

<style is:global>
	@reference '#styles/global.css';

	.button {
		@apply text-main hover:bg-muted bg-transparent px-6 py-2 text-sm/tight;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-family: 'Monaspace Neon', sans-serif;

		border: 1px solid var(--border-main);
		border-radius: 100px;
		transition:
			background-color 0.3s ease,
			color 0.3s ease,
			border-color 0.3s ease;
	}

	.button.primary {
		@apply bg-interactive text-main hover:bg-interactive-hover border-none;
	}
</style>
