---
import type { HTMLAttributes } from 'astro/types';

type AnchorProps = HTMLAttributes<'a'> & { href: string; type?: never };
type ButtonProps = HTMLAttributes<'button'> & { href?: never };

type Props = ButtonProps | AnchorProps;

const { href, class: className, ...rest } = Astro.props;
---

{
	href ? (
		<a href={href} class:list={['icon-button', className]} {...rest}>
			<slot />
		</a>
	) : (
		<button class:list={['icon-button', 'cursor-pointer', className]} {...rest}>
			<slot />
		</button>
	)
}

<style is:global>
	@reference '#styles/global.css';

	.icon-button {
		@apply text-main border-main hover:bg-muted inline-flex items-center justify-center rounded-full border bg-transparent p-2 transition-colors;
	}
</style>
