---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a class:list={['nav-link', className, { active: isActive }]} href={href} {...props}>
	<slot />
</a>

<style is:global>
	@reference '#styles/global.css';

	a.nav-link {
		@apply hover-underline text-main hover:text-accent;
		font-size: 0.95rem;
		font-weight: 400;
		font-family: 'Monaspace Neon', sans-serif;
		letter-spacing: 0.03em;
		text-decoration: none;
		transition: color 0.2s ease;

		&:hover {
			color: var(--text-color-accent);
		}
	}
</style>
