---
import { type CollectionEntry } from 'astro:content';
import ArrowRight from '#assets/icons/arrow-right.svg';

type Props = { project: CollectionEntry<'projects'>; class?: string; headingLevel?: 'h2' | 'h3' };

const { project, class: className, headingLevel = 'h2' } = Astro.props;
const { title, description } = project.data;
const TitleTag = headingLevel;
---

<a class:list={['project-card', className]} href={`/portfolio/${project.id}/`}>
	<TitleTag class="project-title">
		{title}
	</TitleTag>
	{description && <div class="project-description">{description}</div>}
	<div class="project-open">
		View Project <ArrowRight />
	</div>
</a>

<style is:global>
	@reference '#styles/global.css';

	a.project-card {
		@apply relative mb-10 block items-start justify-between gap-8 sm:mb-12;
	}

	.project-title {
		@apply hover-underline font-serif text-xl leading-tight font-medium sm:text-2xl sm:font-semibold;

		.project-card:hover & {
			@apply after:w-full;
		}
	}

	.project-description {
		@apply my-1 text-sm leading-normal;
	}

	.project-open {
		@apply text-accent flex items-center gap-1 text-sm opacity-0 transition;
		font-family: 'Monaspace Neon', 'Archivo', sans-serif;

		@variant sm {
			@apply absolute top-1 right-0;
		}

		.project-card:hover & {
			@apply opacity-100;
		}

		& > svg {
			@apply size-4 fill-current;
		}
	}
</style>
