---
import { ClientRouter } from 'astro:transitions';
import Meta, { type Props as HeadProps } from '#layouts/Meta.astro';
import Header from '#components/Header.astro';
import Footer from '#components/Footer.astro';

export type Props = HeadProps;

const meta = Astro.props;
---

<!doctype html>
<html lang="en" class="wrap-break-words antialiased">
	<head>
		<Meta {...meta} />
		<script>
			if (localStorage.theme === 'dark') {
				document.documentElement.classList.add('dark');
			}
		</script>
		<ClientRouter />
		<script is:inline src="/theme-toggle.js"></script>
	</head>
	<body class="bg-main text-main">
		<Header />
		<main class="mx-auto mt-28 w-full max-w-3xl grow px-4">
			<slot />
		</main>
		<Footer />
	</body>
</html>
