---
import type { MarkdownLayoutProps } from 'astro';
import BaseLayout from '#layouts/Layout.astro';
import type { ImageInput } from '#types';

type Props = MarkdownLayoutProps<{
	title: string;
	seo?: {
		title?: string;
		description?: string;
		image?: ImageInput;
	};
}>;

const { frontmatter } = Astro.props;
const { title, seo } = frontmatter;
---

<BaseLayout title={seo?.title ?? title} description={seo?.description} image={seo?.image}>
	<article class="mb-16 sm:mb-24">
		<header class="mb-8">
			<h1 class="font-serif text-3xl leading-tight font-medium sm:text-5xl sm:leading-tight">{title}</h1>
		</header>
		<div class="prose sm:prose-lg max-w-none">
			<slot />
		</div>
	</article>
</BaseLayout>
