---
import type { MarkdownLayoutProps } from 'astro';
import BaseLayout from '#layouts/Layout.astro';
import type { ImageInput } from '#types';

type Props = MarkdownLayoutProps<{
	title: string;
	seo?: {
		title?: string;
		description?: string;
		image?: ImageInput;
	};
}>;

const { frontmatter } = Astro.props;
const { title, seo } = frontmatter;
---

<BaseLayout title={seo?.title ?? title} description={seo?.description} image={seo?.image}>
	<article>
		<header>
			<h1>{title}</h1>
		</header>
		<section class="prose sm:prose-lg max-w-none">
			<slot />
		</section>
	</article>
</BaseLayout>

<style is:global>
	@import '#styles/article.css';
</style>
