---
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry, getCollection } from 'astro:content';

import Pagination from '#components/Pagination.astro';
import ProjectPreview from '#components/ProjectPreview.astro';
import siteConfig from '#site.config';
import BaseLayout from '#layouts/Layout.astro';
import { byDateDesc } from '#lib/utils';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
	const projects = (await getCollection('projects')).sort(byDateDesc);
	return paginate(projects, { pageSize: siteConfig.projectsPerPage || 6 });
}

type Props = { page: Page<CollectionEntry<'projects'>> };

const { page } = Astro.props;
const portfolio = page.data;
---

<BaseLayout title="Portfolio" description="Explore a diverse portfolio showcasing my passion and expertise">
	<h1 id="page-title">Projects</h1>
	{portfolio.map((project) => <ProjectPreview project={project} />)}
	<Pagination page={page} />
</BaseLayout>

<style is:global>
	@reference '#styles/global.css';

	h1#page-title {
		@apply mb-12 font-serif text-2xl leading-tight;

		@variant sm {
			@apply mb-16 text-4xl;
		}
	}
</style>
